<!DOCTYPE html>
<!--[if IE 9 ]><html class="ie9"><![endif]-->
<html>
  <head>
    <meta charset="utf-8">
    <title>Car Call Status</title>
  </head>

  <body>
    <%= yield %>
    
  </body>
  
</html>
